data/AnnotatedEnhancers
data/CADD
data/DepMap
data/genes
data/Nasser2021
data/PCAWG
data/QuickGO
save/annotatedEnhancers
save/dataCancer
save/dataMutations
save/mutationsMatrices
save/PCAWG
save/pValuePerGene
save/samples
save/tableMutations_FunSeq2
results

data/per_base_territories_20kb_line_numbers.bed.txt
save/dataPCAWG_fpkm_uq.mat
save/genes.mat
*.asv
