data/AnnotatedEnhancers
data/CADD
data/DepMap
data/Nasser2021
data/PCAWG
save/annotatedEnhancers
save/dataCancer
save/dataMutations
save/mutationsMatrices
save/PCAWG
save/pValuePerGene
save/samples
save/tableMutations_FunSeq2
save/evaluateBMM
save/evaluateBMM_genes
save/evaluateBMM_genes999
save/evaluateBMM_max1kbp
save/evaluateBMM_maxInf
save/evaluateBMM_maxInf_mfInf
save/evaluateModel
save/mainORIGINAL
save/TODELETE2evaluateBMM
save/TODELETEevaluateBMM

saveAll/annotatedEnhancers
saveAll/dataCancer
saveAll/dataMutations
saveAll/mutationsMatrices
saveAll/PCAWG
saveAll/pValuePerGene
saveAll/samples
saveAll/tableMutations_FunSeq2
saveAll/evaluateBMM
saveAll/evaluateBMM_genes
saveAll/evaluateBMM_genes999
saveAll/evaluateBMM_max1kbp
saveAll/evaluateBMM_maxInf
saveAll/evaluateBMM_maxInf_mfInf
saveAll/evaluateModel
saveAll/mainORIGINAL
saveAll/TODELETE2evaluateBMM
saveAll/TODELETEevaluateBMM
results

saveTest/
imagesTest/
data/PCAWG_test/CNV/gene_CNV_calls_perTissue/*.txt
data/PCAWG_test/expression/joint_fpkm_uq.txt

data/per_base_territories_20kb_line_numbers.bed.txt
save/dataPCAWG_fpkm_uq.mat
save/genes.mat
saveAll/dataPCAWG_fpkm_uq.mat
saveAll/genes.mat
*.asv
data/genes/CGC_Census_allTue Aug 10 20_28_04 2021.txt
data/genes/PCAWG_TableS1_compendium_mutational_drivers_formatted.xlsx
data/genes/TableS3_panorama_driver_mutations_ICGC_samples.controlled.txt
data/FunSeq2/annotatedPCAWG/intersectedB.*.motif.FunSeq2.bed.txt
data/FunSeq2/annotatedPCAWG/intersectedC.*.motif.FunSeq2.context50bp.bed.txt
ARCHIVE
*.gtf.extended.txt
*.gtf.txt
data/genes/HousekeepingGenes.xlsx
data/genes/Housekeeping_GenesHuman.csv
scriptPrepareTestData.m
/Alina
