data/AnnotatedEnhancers
data/CADD
data/DepMap
data/Nasser2021
data/PCAWG
data/QuickGO
save/annotatedEnhancers
save/dataCancer
save/dataMutations
save/mutationsMatrices
save/PCAWG
save/pValuePerGene
save/samples
save/tableMutations_FunSeq2
save/evaluateBMM
save/evaluateBMM_genes
save/evaluateBMM_genes999
save/evaluateBMM_max1kbp
save/evaluateBMM_maxInf
save/evaluateBMM_maxInf_mfInf
save/evaluateModel
save/mainORIGINAL
save/TODELETE2evaluateBMM
save/TODELETEevaluateBMM

results

data/per_base_territories_20kb_line_numbers.bed.txt
save/dataPCAWG_fpkm_uq.mat
save/genes.mat
*.asv
data/genes/CGC_Census_allTue Aug 10 20_28_04 2021.txt
data/genes/PCAWG_TableS1_compendium_mutational_drivers_formatted.xlsx
data/genes/TableS3_panorama_driver_mutations_ICGC_samples.controlled.txt
data/FunSeq2/annotatedPCAWG/intersectedB.*.motif.FunSeq2.bed.txt
